extends ../layout 

block content 
  h1=title

  include errors

  form(action=`/books/${book.id}` method='POST')
    include form
    div.book-form
      input(type='submit' value='Update Book')

  form(action=`/books/${book.id}/delete`)
    div.book-form
      a.button(href='/books') Cancel 
    div.book-form 
      input.delete(type='submit' value='Delete Book')
